body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    background: #0cebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 100px;
    text-align: center;
}

.calculator{
    background: #212121;
    max-width: 300px;
    width: 100%;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.5);
    border-radius: 1rem;
}

.display{
    height: 80px;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.calculator-display{
    height: 62px;
    border: 0px;
    background: #3B3B3B;
    border-radius: 0.725rem;
    padding: 0.65rem;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    outline: none;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 16px;
}

.button{
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 700;
    background: #616161;
    border: 0px solid transparent;
    outline: none;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    color: #DFDFDF;
    cursor: pointer;
}

.equal{
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 2.5rem;
}

footer{
    margin-top: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-shadow: -1px 1.5px 0px rgba(0,0,0,0.4);
    font-family: monospace;
    font-size: 14px;
}

#previous{
    display: block;
    height: 28px;
    text-align: right;
    color: white;
    font-size: 1.325rem;
    font-weight: 400;
    width: 100%;
}

#current{
    display: block;
    font-size: 1.625rem;
    font-weight: 600;
    text-align: right;
    color: aquamarine;
    width: 100%;
}