body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    background: #0cebeb;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
    margin-top: 100px;
    
}

.calculator{
    background: #212121;
    max-width: 300px;
    width: 100%;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.5);
    border-radius: 1rem;
}

.display{
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.calculator-display{
    border: 0px;
    background: #3B3B3B;
    border-radius: 0.725rem;
    padding: 0.65rem;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    outline: none;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 16px;
}

.button{
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 700;
    background: #616161;
    border: 0px solid transparent;
    outline: none;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    color: #DFDFDF;
    cursor: pointer;
    transition: 0.1s;
}

.equalSize{
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 2.5rem;
}

footer{
    margin-top: 1.5rem;
    font-weight: bolder;
    text-align: center;
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Moirai One', cursive;
    font-size: 18px;
}

#previous{
    display: block;
    min-height: 28px;
    text-align: right;
    color: white;
    font-size: 1.325rem;
    font-weight: 400;
    overflow-wrap:break-word;
}

#current{
    display: block;
    font-size: 1.625rem;
    font-weight: 600;
    text-align: right;
    color: aquamarine;
    overflow-wrap: break-word;
}

.allclear{
    background: #eb0000;
}
.clear{
    background: #bc0000d9
}
.operator{
    background: #dad000;
    color: black;
}
.equal{
    background: #00d215e8;
}
.hover{
    transform: scale(1.1);
}